.vs/
Debug/
Debug ANSI/
Release/
Release ANSI/
*.suo
*.ncb
*.user
*.obj
*.iobj
*.res
*.idb
*.pdb
*.ipdb
*.dll
*.exe
*.exp
*.ilk
*.lib
*.dep
*.aps
*.a
*.o
*.depend
*.layout
*.manifest
*.rar
*.lnk
*.orig
*.htm
*.hhc
*.hhk
*.hhp
*.chm
*.log
*.reg
*.zip
*.vsf
*.cjstyles
Thumbs.db
